html,body{
    height:100%;
    width:100%;
    font-size:14px;
    font-family:Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul{list-style:none;}
ul,li,p{margin:0;padding:0}
.dot{background-color:#f43531;border-radius:50%;position:absolute;z-index:2;}
.stage{position:absolute;top:0;left:0;right:0;bottom:0;z-index:10;background-color:#eee;}
/*slideup*/
.slide-up-enter-active,.slide-up-leave-active{transition:all .1s ease}
.slide-up-enter,.slide-up-leave-to{
    transform:translateY(50px);
    opacity:0
}